// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1000px +:       Big desktop

$breakpoint argument choices: 
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid> page layout > components

1em = 16px
*/

/*
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content }; // 600px
    }
    
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content }; // 900px
    }

    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content }; // 1200px
    }

    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content }; // 1800px
    }
}
*/


@mixin for-size($breakpoint) {
    $phone-upper-boundary: 600px;
    $tablet-portrait-upper-boundary: 900px;
    $tablet-landscape-upper-boundary: 1200px;
    $desktop-upper-boundary: 1800px;
  
    @if $breakpoint == phone-only {
      @media (max-width: #{$phone-upper-boundary - 1}) { @content; }
    } @else if $breakpoint == tablet-portrait-up {
      @media (min-width: $phone-upper-boundary) { @content; }
    } @else if $breakpoint == tablet-landscape-up {
      @media (min-width: $tablet-portrait-upper-boundary) { @content; }
    } @else if $breakpoint == desktop-up {
      @media (min-width: $tablet-landscape-upper-boundary) { @content; }
    } @else if $breakpoint == big-desktop-up {
      @media (min-width: $desktop-upper-boundary) { @content; }
    }
}
  
