.portfolio {

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;

        @include for-size(phone-only) {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(1, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 5px;
        }
    }

    &__item {
        position: relative;

        .portfolio__overlay {
            background: rgba(0,0,0,0.7);
            position: absolute;
            height: 99%;
            width: 100%;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            -webkit-transition: all 0.4s ease-in-out 0s;
            -moz-transition: all 0.4s ease-in-out 0s;
            transition: all 0.4s ease-in-out 0s;
        }

        &:hover .portfolio__overlay {
            opacity: 1;
        }

        &:hover .portfolio__details {
            top: 50%;
            left: 50%;
            opacity: 1;
        }
    }

    &__details {
        position: absolute;
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        width: 100%;
        top: 50%;
        left: 50%;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }

    &__title {
        font-family: 'Nunito';
        font-size: 1.2rem;
        font-weight: 400;
        color: #fff;
    }

    &__text {
        font-family: 'Poppins';
        font-size: 1.8rem;
        font-weight: 600;
        color: #fff;
    }

}